body {
    background: black;
    color: white;
    padding: 30px;
    font-family: arial
}
    
nav {
    background: red;
    padding: 1px;
}    

nav ul {
    list-style-image: none;
}

nav ul li {
    display: inline;
    padding-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}
body a {
    color: white;
}